<div class="container d-flex flex-column justify-content-center align-items-center mt-3 header-title">
  <a href="" class="d-flex flex-column"
    >Amora<span class="media-title">Media</span></a
  >
</div>
<mat-nav-list>
  <a mat-list-item  
    *ngFor="let item of items" 
    class="menu-item" 
    routerLink="/amora_media_management/app-admin/{{item.url}}"
    (click)="set_active(item)"
    [ngClass]="{'menu-active':set_item === item.url}"
    >
    <span class="entry " [ngClass]="{'active':set_item === item.url}">
      <mat-icon class="menu-icon">{{item.icon}}</mat-icon>
      <span class="menu-title">{{item.name}}</span>
    </span>
  </a>
  
</mat-nav-list>
