<div class="container d-flex flex-column justify-content-center align-items-center mt-3 header-title">
  <a href="" class="d-flex flex-column"
    >Amora<span class="media-title">Media</span></a
  >
</div>
<mat-nav-list>
  <a mat-list-item class="menu-item menu-active">
    <span class="entry active">
      <mat-icon class="menu-icon">house</mat-icon>
      <span class="menu-title">Dashboard</span>
    </span>
  </a>
  <a mat-list-item class="menu-item ">
    <span class="entry ">
      <mat-icon class="menu-icon">people</mat-icon>
      <span class="menu-title">Employees Record</span>
    </span>
  </a>
  <a mat-list-item class="menu-item ">
    <span class="entry ">
      <mat-icon class="menu-icon">notes</mat-icon>
      <span class="menu-title">All PDF</span>
    </span>
  </a>
</mat-nav-list>
